<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div>
    <h5>Dedicated workspace</h5>
    <p>A common area with wifi that's well suited for working.</p>
    <h5>Self check-in</h5>
    <p>You can check in with the doorperson.</p>
    <br>
    <p>Approved by Tourism Department Of Kerala</p>
    <p>Located in Nutmeg Valley Farm Stay, it is 25feet from ground level, has an balcony which gives an stunning view of the valley and river flowing under it</p>
    <h5>The Space</h5>
    <p>Tree house has huge windows with amazing view of the nature around it, attached washroom and a big balcony. The house sits on tree with metallic reinforcements.</p>
  </div>
  
</body>
</html>