{% set title = "Host Registration" %}
{% set curPage = "hostReg" %}
{% extends "base.html" %}

{% block content %}

<div class="content container">
  <div class="d-flex flex-column gap-4 justify-content-center align-items-center" style="height: 90vh;">
    <h5 class="text-center text-danger">Host Registration</h5>
    <div class="card" style="width: 28rem;">
      <div class="card-body bg-light">
        <p class="text-center">Already Registered? <a href="/host/login/">Login</a> here</p>
        <hr>
        <form action="/host-registration/" method="post" id="hostRegistration">

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
          </div>
          <button class="btn btn-theme-primary w-100">Register</button>

        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}