{% set title = "My Profile" %}
{% set curPage = "profile" %}
{% extends "base.html" %}

{% block content %}

<section>
  <div class="content container bg-light py-5 px-4 mb-5">

    <h4 class="text-center">My Profile</h4>
    <div class="border bg-white p-4">

      <form action="{{request.uri}}" method="post" id="profile" class="w-50">
        <div class="mb-3">
          <label for="fullname" class="form-label required">Full Name</label>
          <input type="text" class="form-control" name="fullname" id="fullname" value="{{user['fullname']}}" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label required">Email</label>
          <input type="text" class="form-control" name="email" id="email" value="{{user['email']}}" disabled>
        </div>
        <div class="mb-3">
          <label for="contact_no" class="form-label required">Contact No</label>
          <input type="text" class="form-control" name="contact_no" id="contact_no" value="{{user['contact_no']}}" required>
        </div>
        <button type="submit" class="btn btn-theme-primary">Update</button>
      </form>      

    </div>

  </div>
</section>

{% endblock %}