{% set title = "Change Password" %}
{% set curPage = "changePwd" %}
{% extends "base.html" %}

{% block content %}

<section>
  <div class="content container bg-light py-5 px-4 mb-5">

    <h4 class="text-center">Change Password</h4>
    <div class="border bg-white p-4">

      <form action="{{request.uri}}" method="post" id="changePassword" class="w-25">
        <div class="mb-3">
          <label for="password" class="form-label required">Password</label>
          <input type="password" class="form-control form-control-sm" name="password" id="password" required>
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label required">Confirm Password</label>
          <input type="password" class="form-control form-control-sm" name="confirm_password" id="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-theme-primary">Change Password</button>
      </form>      

    </div>

  </div>
</section>

{% endblock %}